/****** BASE STYLES ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    min-width: 1200px;   /* Temporary fix to prevent shrinking on small screens until we make this responsive. */
}

#about, #work, #contact {
    overflow: auto;   /* Flexible way to handle a collapsing parent container when we have floating child elements. */

}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;   /* Using auto means when a screen is larger than 1200px, the additional space is divided evenly amongst the left and right side, leaving the div centered. */
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/****** HEADER ******/

header {
    height: 800px;
    background: url('../img/hero.png');   /* We want the background to extend to the edges when a screen is larger than 1200px, so we are applying this style to the parent container without a fixed width. */

    background-size: cover;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    letter-spacing: -.6px;   /* Photoshop letter spacing (px) * font-size (px) / 1000 = css letter-spacing (px) */
    color: #bbc085;
    margin: 0;
    padding: 115px 0 105px 25px;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 125px 25px 105px 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    font-size: 18px;
    letter-spacing: -.36px;
    color: #828282;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    letter-spacing: -1.44px;
    line-height: 80px;
    color: #9b9b9b;
    padding-left: 25px;
}
header h2 span {
    color: #2b2b2b;
}

/****** ABOUT ******/

#about {
    padding: 132px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    letter-spacing: -.72px;
    margin: 0 0 50px;
    padding-left: 50px;
}

#about p {
    font-size: 21px;
    letter-spacing: -.42px;
    line-height: 40px;
    color: #7f7f7f;
    margin: 0;
    padding: 0 50px;
}

/****** WORK ******/

#work {
    background-color: #f9ceb7;
    text-align: center;
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.48px;
    width: 180px;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    letter-spacing: -.36px;
    line-height: 30px;
    padding: 0 50px;
}

/****** CONTACT ******/

#contact {
    background-color: #ebebeb;
    padding: 110px 0;
}

#contact img#contact-img {
    width: 526px;
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact-info {
    width: 450px;
    padding: 0 25px 0 125px;
}
#contact #envelope {
    margin-bottom: -5px;
    padding-right: 10px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    letter-spacing: -.72px;
    line-height: 44px;
    margin: 40px auto 0;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -.64px;
    line-height: 44px;
    margin: 6px 0;
}
#contact #socialmedia-header {
    font-size: 29px;
    font-weight: bold;
    letter-spacing: -.58px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -.56px;
    line-height: 44px;
    color: #c49075;
}
#contact ul {
    padding: 0;
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 40px;
}
